---
import GitHub from "@/assets/icons/github.svg";
import Globe from "@/assets/icons/globe.svg";
import LinkedIn from "@/assets/icons/linkedin.svg";
import Mail from "@/assets/icons/mail.svg";
import Phone from "@/assets/icons/mobile.svg";
import X from "@/assets/icons/xlogo.svg";
import ProfilePhoto from "@/components/ProfilePhoto.astro";

import { basics } from "@/data/cv.json";
import type { Icon } from "@/types/icon";

const SOCIAL_ICONS: Icon = {
  GitHub,
  LinkedIn,
  X,
};

const {
  name,
  label,
  location,
  email,
  phone,
  url: website,
  profiles: PROFILES,
} = basics;
const { url, address, country, peruTime, flag } = location;
const currentLocation = `${address} - ${country} ${flag}, ${peruTime}`;
---

<section>
  <article>
    <h1>{name}</h1>
    <p>{label}</p>
    <a class="location" href={url} target="_blank" rel="noopener noreferrer">
      <Globe width={12} height={12} />
      {currentLocation}
    </a>
    <ul class="print">
      <li><a href="">{email}</a></li> /
      <li><a href={website}>{website}</a></li> /
      <li><a href="">{phone}</a></li>
    </ul>
    <ul class="no-print">
      {
        url && (
          <li>
            <a href={website} title={`Visitar la página ${name} `}>
              <Globe />
            </a>
          </li>
        )
      }
      {
        email && (
          <li>
            <a
              href={url}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
            >
              <Mail />
            </a>
          </li>
        )
      }
      {
        phone && (
          <li>
            <a
              href={url}
              title={`Llamar por teléfono a ${name} al número ${phone}`}
            >
              <Phone />
            </a>
          </li>
        )
      }
      {
        PROFILES.map(({ network, username, url }) => {
          const Icon = SOCIAL_ICONS[network];
          return (
            <li>
              <a
                href={url}
                title={`Visitar el perfil de ${name} en ${network}`}
              >
                <Icon title={`Icono de ${network}`} />
              </a>
            </li>
          );
        })
      }
    </ul>
  </article>
  <ProfilePhoto />
</section>

<style>
  section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;

    article {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .print {
        display: none;
        gap: 8px;
        margin-top: 4px;

        li {
          a {
            font-family: "Monaspace Neon", monospace;
            color: rgba(0, 0, 0, 0.7);
            font-size: 14px;
            font-weight: 400;
            text-decoration: underline;
            text-decoration-color: #000;
            text-underline-offset: 3px;
          }
        }
      }

      h1 {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 8px;
      }

      p {
        font-family: "Monaspace Neon", monospace;
        color: rgba(0, 0, 0, 0.7);
        font-size: 14px;
        font-weight: 400;
      }

      a {
        display: inline-flex;
        align-items: center;
        gap: 2px;
        cursor: pointer;
        color: #000;
        font-family: "Monaspace Radon", cursive;
        font-size: 12px;
      }

      a:hover {
        opacity: 90%;
        text-decoration: underline;
      }

      .no-print {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 8px 0;
        gap: 4px;

        a {
          padding: 8px;
          border: 0.5px solid rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
          animation-duration: 3s;
          animation-timing-function: ease-in;
        }

        a:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }

  @media (width >= 40rem) {
    section {
      justify-content: space-between;
      flex-direction: row;

      article {
        display: flex;
        flex-direction: column;
      }
    }
  }

  @media print {
    section {
      article {
        .print {
          display: inline-flex;
        }

        .no-print {
          display: none;
        }
      }
    }
  }
</style>
